@{
    ViewBag.Title = "Смена пароля прошла успешно!";
}

<h2>@ViewBag.Title</h2>
<b>Вы будете перенаправлены на @Html.ActionLink("гланую", "Index", "Home") страницу через 5 сек.!</b>
<script type="text/javascript">
    setTimeout(function () {window.location.href='@Url.Action("Index", "Home")';}, 5000);
</script>
